.navbar {
    background-color: rgba(51, 51, 51, 0.38);
    overflow: hidden;
    padding-top: 20px;
}

.navbar h2 {
    color: #4d0e0e;
    text-align: center;
    font-size: 40px;
    animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 80px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    display: inline-block;
    color: #0a0000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}
