.product-container {
    text-align: center;
    color: white;
    font-size: 20px;
}

.product-image {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.product-container h2 {
    color: #ffffff;
    opacity: 0;
    animation: slideIn 1s forwards, changeColor 1s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes changeColor {
    from {
        color: #020202;
    }
    to {
        color: #f3f3f3;
    }
}
